dl, dt, dd, input, form, h1, body {
  margin: 0;
  padding: 0;
}

*, *::after, *::before { 
  box-sizing: border-box;
}

:root {
  --color-red-50: oklch(0.971 0.013 17.38);
  --color-red-100: oklch(0.936 0.032 17.717);
  --color-red-200: oklch(0.885 0.062 18.334);
  --color-red-300: oklch(0.808 0.114 19.571);
  --color-red-400: oklch(0.704 0.191 22.216);
  --color-red-500: oklch(0.637 0.237 25.331);
  --color-red-600: oklch(0.577 0.245 27.325);
  --color-red-700: oklch(0.505 0.213 27.518);
  --color-red-800: oklch(0.444 0.177 26.899);
  --color-red-900: oklch(0.396 0.141 25.723);
  --color-red-950: oklch(0.258 0.092 26.042);
  --color-emerald-50: oklch(0.979 0.021 166.113);
  --color-emerald-100: oklch(0.95 0.052 163.051);
  --color-emerald-200: oklch(0.905 0.093 164.15);
  --color-emerald-300: oklch(0.845 0.143 164.978);
  --color-emerald-400: oklch(0.765 0.177 163.223);
  --color-emerald-500: oklch(0.696 0.17 162.48);
  --color-emerald-600: oklch(0.596 0.145 163.225);
  --color-emerald-700: oklch(0.508 0.118 165.612);
  --color-emerald-800: oklch(0.432 0.095 166.913);
  --color-emerald-900: oklch(0.378 0.077 168.94);
  --color-emerald-950: oklch(0.262 0.051 172.552);
}

body {
  --background-color: var(--color-emerald-200);
  --main-background-color: var(--color-emerald-50);
  --result-text-color: var(--color-emerald-800);
  --result-background-color: var(--color-emerald-100);
  --result-headline-color: var(--color-emerald-600);
  background: var(--background-color);
  display: grid;
  min-height: 90vh;
  font-family: ui-rounded;
}
body.krumm {
  --background-color: var(--color-red-200);
  --main-background-color: var(--color-red-50);
  --result-text-color: var(--color-red-800);
  --result-background-color: var(--color-red-100);
  --result-headline-color: var(--color-red-600);
}
main {
  place-self: center;
  display: grid;
  background: var(--main-background-color);
  border-radius: 1rem;
  margin: 1rem;
  overflow: hidden;
  box-shadow: 
    rgba(50,50,93,.25) 0 2px 5px -1px,
    rgba(0,0,0,.3) 0 1px 3px -1px;
}
form {
  display: grid;
  gap: 0.75rem;
  padding: 1.5rem 2rem;
}
label {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr auto 1fr;
  gap: 1rem;
}
input {
  width: 8ch;
  margin: 0;
  font-size: inherit;
  border: 2px solid silver;
  border-radius: 0.25rem;
  max-width: 100%;
  padding: .5rem;
  font-family: inherit;
  display: inline-block;
}
h1 {
  margin-bottom: 1rem;
}
h1 span {
  color: var(--result-headline-color);
  font-weight: 900;
  text-transform: uppercase;
}
details {
  color: var(--result-text-color);
}
summary {
  font-weight: 700;
}
dl {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr auto;
  margin-top: 1rem;
}
dt, dd {
  margin: 0;
}
dd {
  font-weight: 700;
  text-align: right;
  font-variant-numeric: tabular-nums;
}
.results {
  padding: 1.5rem 2rem;
  background: var(--result-background-color);
}