<header class="main">
    <div class="logo">
    <svg width="150px" height="150px" viewBox="0 0 180 180" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <title>{{ site.title }}</title>
        <g>
            <polygon id="rectangle" points="0 0 60 0 60 180 0 180"></polygon>
            <path    id="curve1" d="M60,120 L120,120 L120,120 L120,180 L120,180 C67.9999551,180 60,172.000045 60,120 Z"></path>
            <path    id="curve2" d="M60,120 L60,60 L60,60 L120,60 L120,60 C120,112.000045 111.999967,120 60,120 Z"></path>
            <circle  id="circle" cx="150" cy="150" r="30"></circle>
        </g>
    </svg>

    </div>

    {% if site.navigation %}
    <nav class="main">
        <h3 class="sr-only">Navigation</h3>
        <ul>
            {% for item in site.navigation %}
            <li><a href="{{ item.url }}">{{ item.title }}</a></li>
            {% endfor %}
        </ul>
    </nav>
    {% endif %}
</header>