<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>{{ page.title }}</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta property="og:site_name" content="{{ site.title }}" />
    <meta property="og:title" content="{{ site.title }}" />
    <meta property="og:description" content="{{ site.description }}" />
    <meta property="og:url" content="{{ site.url }}" />
    <meta property="og:type" content="{% if page.collection == 'posts' %}article{% else %}website{% endif %}" />
    <!--meta name="theme-color" content="#02fea8"-->
    <link href="https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Sora:wght@100..800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/k-base.css">
    <link rel="icon" href="favicon.svg">
</head>
<body class="{{ page.color }}">

    <div id="page">
        {% include header.html %}

        <main>
            {{ content }}
        </main>

        {% include footer.html %}
    </div>

</body>
</html>